body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../imgs/marvelBody.jpg);
    background-size: cover;
    background-blend-mode: color-burn;
    user-select: none;
    animation: dow 15s linear infinite ;
    flex-direction: column;
}
:root{
    --vine: #4B0A08;
    --light-vine: #6A0C0C;
    --red: #AA0404;
    --golden: #FBCA03;
    --burn-yellow: #BA7E10;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
        325deg, var(--vine) 0%, var(--light-vine) 30%,
        var(--red) 50%, var(--golden) 70%, var(--burn-yellow) 100%
    );
    padding: 30px 50px;
    border-radius: 7px;
    box-shadow: 5px 5px 9px #000000de;
}

h2{
    font-size: 3em;
    color: var(--red);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 10px;
}

.logoMarvel{
    width: 90px;
    height: 27px;
    position: absolute;
    z-index: 0;
    top: 15px;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 7px;
    box-shadow: 3px 2px 9px #1d1d1d;
}

.reset:focus{/*QUANDO CLICA FAZ ALGUMA COISA!!!!!!!!!!!!!!!!!!!!!!*/
    color: #fff;
    background-color: var(--burn-yellow);
}
.reset:hover{
    transform: scale(1.02);
    transition: .7s;
}

.reset:not(:hover){
    transition: .7s;
}

.game{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    border-radius: 6px;
    justify-content: space-between;
}

.item{
    position: relative;
    width: 23%;
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
   

    font-size: 3.5em;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.item::after{
    content: "";
    font-size: 20px;
    background-image: url(../imgs/logoMarvelAvesso.png);
    background-size: 97%;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 4px solid var(--red);
    background-position: center;
    position: absolute;
    color: var(--red);
    inset: 0;
    transition: 0.25s;
    transform: rotateY(0deg);
    border-radius: 8px;
    backface-visibility: hidden;
    box-shadow: 1px 1px 8px rgb(255, 255, 255);
    z-index: 1;
}

.lose{
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-image: url("https://pm1.aminoapps.com/6335/2fcc04fb4a2f118c992aa9fd38ed65b8ab30e904_hq.jpg");
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    box-shadow: 2px 2px 5px #fff;
    font-weight: bolder;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    transition: all .9s linear;
    flex-wrap: wrap;
    overflow: hidden;
}


.level-game{
    width: 38%;
    height: 76%;
    background: linear-gradient(
        325deg, var(--vine), var(--light-vine) ,
        var(--red), var(--golden) , var(--burn-yellow));
    background-size: 300% 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 6px solid #fff;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    animation: colors 10s ease infinite;
    position: absolute;
    z-index: 1;
}
.level{
    display: flex;
    flex-direction: column;
    height: 40%;
    gap: 10px;
}

.level button{
    padding: 25px 70px;
    background-color: #ffffff00;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
}
.level button:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}

.level button:not(:hover){
    transition: .5s;
}

.count{
    color: #fff;
    font-size: 13.5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--red);
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

#time{
    text-align: center;
}

.item.boxOpen { /*TODO .item QUE TIVER A CLASSE .boxOpen ELE FAZ ALGUMA COISA*/
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

.animFind {
    animation: animFind .8s normal;
}

.great{
    width: 100%;
    height: 50%;
    font-weight: bolder;
    font-size: 80px;
    color: var(--golden);
    text-shadow: 4px 4px 5px var(--red);
    position: absolute;
    top: 0;
    text-align: center;
    animation: great .4s linear normal;
}

.countDownToInitial{
    font-size: 90px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        325deg, var(--vine), var(--light-vine) ,
        var(--red), var(--golden) , var(--burn-yellow));
    color: var(--golden);
    background-size: 300% 300%;
    text-shadow: 4px 4px 5px var(--red);
    position: absolute;
    border: 5px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: colors 10s linear infinite;
}

.countDownToInitial h1{
    animation: countDown 1s linear normal;
}

.youWin{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--golden);
    background-blend-mode: luminosity;
    background-color: var(--red);
    text-shadow: 4px 4px 5px var(--red);
    position: absolute;
    top: 0;
    border: 6px solid var(--golden);
    background-image: url(https://static1.cbrimages.com/wordpress/wp-content/uploads/2019/08/4-3.png?q=50&fit=crop&w=738&h=369);
    background-repeat: no-repeat;
    background-size: 210%;
    background-position: 50%;
    font-size: 45px;
    font-weight: bolder;
    border-radius: 6px;
    z-index: 1;
}

@keyframes animFind {
    0%{
        transform: scale(1.25);
        border: 1px solid black;
    }
}
@keyframes dow{
    0%{
        background-color: var(--red);
    }
    25%{
        background-color: var(--light-vine);
    }
    50%{
        background-color: var(--burn-yellow);
    }
    75%{
        background-color: var(--golden);
    }
    100%{
        background-color: var(--red);
    }
}

@keyframes great{
    0%{
        transform: scale(1);
        display: block;
    }
    50%{
        transform: scale(2);
    }
}


@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes countDown {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1.6);
    }
}

@media screen and (max-width: 1496px){
    .level-game{
        width: 40%;
        height: 110%;
    }
}

@media screen and (max-width: 1275px){
    .level-game{
        width: 50%;
        height: 110%;
    }
}
@media screen and (max-width: 1000px){
    .level-game{
        width: 60%;
        height: 110%;
    }
}

@media screen and (max-width: 900px){
    .container{
        width: 60vw;
    }
    .game{
        width: 50vw;
      
    }
    .item{
        max-width: 25%;
        height: 20%;
    }
    h2{
        font-size: 2.5em;
        width: 100%;
    }
    .reset{
        width: 110%;
    }
}

@media screen and (max-width: 768px){
    .item{
        height: 18%;
        width: 24%;
    }
    .game{
        gap: 1px;
    }
    .count{
        padding: 6.5px;
        font-size: 7.5px;
    }
    h2{
        font-size: 1.6em;
        width: 100%;
    }
    .reset{
        width: 125%;
    }
    .youWin{
        font-size: 35px;
    }
    .countDownToInitial{
        font-size: 40px;
    }
}

@media screen and (max-width: 550px){
    .container{
        width: 75vw;
        height: 90vh;
    }
    .game{
        width: 65vw;
    } 
    .item{
        max-width: 21%;
        height: 80px;
    }
    h2{
        font-size: 1.6em;
        width: 100%;
    }
    .lose p{
        font-size: 30px;
    }
    .level-game{
        height: 80%;
        width: 80%;
    }
    .level-game button{
        padding: 15px 30px;
    }
    .reset {
        width: 310px;
        font-size: 15px;
        letter-spacing: 4px;
    }
    .youWin{
        font-size: 25px;
    }
}

@media screen and (max-width: 450px){
    .reset{
        font-size: 15px;
        font-weight: bolder;
        width: 130%;
        padding: 10px 15px;
        text-align: center;
    }
    .count{
        padding: 5px;
        font-size: 7px;
    }
    .item{
        height: 17%;

    }
    h2{
        width: 300px;
        font-size: 17px;
    }
    .great{
        right: 30px;
    }
}

@media screen and (max-width: 350px){
    .count h1{
        font-size: 12px;
    }
    .count{
        width: 20%;
    }
    .game {
        gap: 0;
    }
    .item {
        height: 15%;
    }
    .reset{
        width: 150%;
        font-size: 10px;
    }
}

@media screen and (max-width: 250px) {
    .container{
        width: 90vw;
        min-height: 80vh;
    }
    .level-game {
        font-size: 8px;
    }
    .level-game button{
        padding: 9px;
    }
}